/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url('./styles/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Comic Neue', sans-serif;
}


.App {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}
